body {
	background-color: #eee;
}

.caja {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 4px;
	border-top: solid 0px;
}

.parrafo {
	margin: 0px;
}

.contenido {
	padding: 10px;
}

.cabecera {
	padding: 10px;
	border-bottom: solid 1px #eee;
}

.pie {
	padding: 10px;
	border-top: solid 1px #eee;
}

.btn-aceptar {
	background-color: #0090ff;
	padding: 5px;
	border: 0px;
	color: #fff;
}

.btn-cancelar {
	background-color: #aaa;
	padding: 5px;
	border: 0px;
	color: #fff;
}