body {
    background-color: #151313;
}

/* Estilo generico */
a {
    color: #37922d;
    background-color: teal;
    border: solid 3px yellowgreen;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

/****** Las pseudo-clases :link y :visited solamente están definidas para los enlaces. ******/

/* Los estilos se aplican a un enlace que todavía no ha visitado (:link) */
a:link {
    color: indigo;
    text-decoration: none;
}

/* Los estilos se aplican a un enlace que ha sido visitado (:visited) */
a:visited {
    color: #d4abab;
}

/***** Las pseudo-clases :hover y :active se definen para todos los elementos HTML *****/

/* Los estilos se aplican a un enlace cuando pasamos el puntero sobre el elemento (:hover) */
a:hover {
    color: yellow;
    text-decoration: underline;
    background-color: tomato;
}

/* Los estilos se aplican a un enlace cuando damos click (:active) */
a:active {
    color: #ffffff;
    text-decoration: overline;
}