body {
    background-color: #eee;
}

.btn-dropdown {
    background-color: #61b15a;
    color: white;
    padding: 12px; /*Establece el espacio de relleno*/
    font-size: 16px;
    border: none;
    cursor: pointer; /*Establece el cursor que muestra el puntero del ratón*/
    /*
        Valores permitidos	
            Opcionalmente una o más URL separadas por comas
                Seguidas opcionalmente por uno de los siguientes valores:
                    auto
                    crosshair
                    default
                    pointer
                    move
                    e-resize
                    ne-resize
                    nw-resize
                    n-resize
                    se-resize
                    sw-resize
                    s-resize
                    w-resize
                    text
                    wait
                    help
                    progress
                inherit

        Valor inicial = auto
    */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 8px rgba(0px, 0px, 0px, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px; /*El primero es vertical y el segudno es horizontal*/
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .btn-dropdown {
    background-color: #3e8e42;
}

.dropdown:hover .dropdown-content {
    display: block;
}