body {
	/*Un color hexadecimal se especifica con: #RRGGBB.*/
	background-color: #eeeeee;
}

.fondo {
	/*La función rgba() define los colores utilizando el modelo Rojo-verde-azul-alfa (RGBA).*/
	background-color: rgba(255, 215, 45, 0.5);
}

.fondo-02 {
	/*HSL significa (hue, saturation, and lightness) tono, saturación y luminosidad.*/
	background-color: hsl(118, 28%, 50%); /*Tambien podemos agregar un alfa (0.5)*/
	opacity: 1; /*Si usamos opacity afecta a todo el elemento y no solo al fondo */
	padding: 8px 12px;
	margin: 12px;
}

