img {
    float: right; /*Posiciona los elementos de forma flotante*/
    /*
        Valores permitidos	
            Alguno o todos los siguientes valores y en cualquier orden:
                left
                right
                none
                inherit

        Valor inicial = none
    */

    opacity: 0.5; /*La propiedad CSS opacity define la transparencia de un elemento.*/
    /*
        Es un número cuyo valor se encuentra entre 0.0 y 1.0.
    */
}

img:hover {
    opacity: 1;
}

div p {
    color: brown;
}