ul {
    list-style-type: none; /*Establece el marcador de los elementos de la lista*/
    /*
        Valores permitidos	
            Uno y sólo uno de los siguientes valores:
                disc 
                circle
                square
                decimal
                decimal-leading-zero
                lower-romanupper-roman
                lower-greek
                lower-latin
                upper-latin
                armenian
                georgian
                lower-alpha
                upper-alphanone
                inherit

        Valor inicial = disc
    */
    background-color: tomato;
    border: solid 2px #dddddd;
    border-radius: 4px;
    padding-left: 0px;
}

/* Seleccionar un elemento dentro de otro elemento */
ul li {
    color: white;
    border-bottom: solid 2px #dddddd;
    padding: 15px; /*La propiedad padding establece el espacio de relleno requerido por todos los lados de un elemento.*/
}