@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/*
  El selector universal se indica mediante un asterisco (*).
  Se utiliza para seleccionar todos los elementos de la página. 
  El siguiente ejemplo elimina el margen y el relleno de todos los elementos HTML
*/

* {
  margin: 0; /*La propiedad margin establece el margen para los cuatro lados*/
  padding: 0; /*La propiedad padding establece el espacio de relleno requerido por todos los lados de un elemento.*/
}

.text-shadow {
    font-size: 10em; /*Establece el tamaño de letra*/
    text-align: center; /*Establece la alineación del contenido de un elemento de bloque*/
    /*
        Las medidas vh y vw son medidas relativas de acuerdo al viewport. 
        Viewport units son unidades css relativas a la ventana gráfica del navegador.
        Vh hace referencia a la centésima parte de la altura del viewport y vw a la centésima parte del ancho del viewport.

        1vh = 1% de la altura del viewport
        100vh = altura del viewport

        1vw = 1% del ancho del viewport
        100vw = ancho del viewport
    */
  height: 100vh; /*Establece la altura de los elementos de bloque*/
  line-height: 100vh; /*Establece el interlineado del texto*/
  /*
    Valores permitidos  
        Uno y sólo uno de los siguientes valores:
            normal
            número
            medida
            porcentaje
            inherit
            Si se utilizan porcentajes, hace referencia al tamaño de letra del propio elemento
    Valor inicial = normal
  */
  color: #FCEDD8; /*Establece el color del texto de un elemento*/
  background-color: #46b59b; /*Establece el color de fondo de un elemento*/
  font-family: 'Niconne', cursive; /*Establece la fuente o tipo de letra*/
  font-weight: 700; /*Establece el grosor de cada letra*/
  text-shadow: 5px 5px 0 #EB452B, 10px 10px 0 #EFA032, 15px 15px 0 #46B59B, 20px 20px 0 #017E7F, 25px 25px 0 #052939, 30px 30px 0 #C11A2B, 35px 35px 0 #C11A2B, 40px 40px 0 #C11A2B, 45px 45px 0 #C11A2b; /* La propiedad text-shadow agrega sombra al texto. */
}