body {
    background-color: #eee; /*Establece el color de fondo de un elemento*/
}

.btn-dropdown {
    background-color: #61b15a; /*Establece el color de fondo de un elemento*/
    color: white; /*Establece el color del texto de un elemento*/
    padding: 12px; /*Establece el espacio de relleno*/
    font-size: 16px; /*Establece el tamaño de letra*/
    border: none; /*Establece algunas o todas las propiedades de todos los bordes de los elementos*/
    cursor: pointer; /*Establece el cursor que muestra el puntero del ratón*/
    /*
        Valores permitidos	
            Opcionalmente una o más URL separadas por comas
                Seguidas opcionalmente por uno de los siguientes valores:
                    auto
                    crosshair
                    default
                    pointer
                    move
                    e-resize
                    ne-resize
                    nw-resize
                    n-resize
                    se-resize
                    sw-resize
                    s-resize
                    w-resize
                    text
                    wait
                    help
                    progress
                inherit

        Valor inicial = auto
    */
}

.dropdown {
    position: relative; /* Posiciona los elementos de forma normal, relativa, absoluta o fija */
    display: inline-block; /* Establece el tipo de caja generada por un elemento */
}


.dropdown-content a {
    color: black; /*Establece el color del texto de un elemento*/
    padding: 12px 16px; /*La propiedad padding establece el espacio de relleno. El primero es vertical y el segudno es horizontal*/
    text-decoration: none; /*Establece la decoración que se añade al texto de un elemento*/
    display: block; /* Establece el tipo de caja generada por un elemento */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /*Establece el color de fondo de un elemento*/
}

.dropdown:hover .btn-dropdown {
    background-color: #3e8e42; /*Establece el color de fondo de un elemento*/
}

.dropdown:hover .dropdown-content {
    display: block; /* Establece el tipo de caja generada por un elemento */
}

.dropdown-content {
    display: none; /* Establece el tipo de caja generada por un elemento */
    position: absolute; /* Posiciona los elementos de forma normal, relativa, absoluta o fija */
    background-color: #f9f9f9; /*Establece el color de fondo de un elemento*/
    min-width: 160px; /*Se usa para determinar la anchura mínima de un elemento*/
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2); /*añade efectos de sombra alrededor del marco de un elemento.*/
}